# No mat files and output from slurm

*.mat
*.out
**/tbinet_stuff/cluster_seq/Eseqs.txt
**/tbinet_stuff/cluster_seq/Dseqs.txt
**/tbinet_stuff/cluster_seq/Eseqs80.clstr
**/tbinet_stuff/cluster_seq/Dseqs80.clstr

tbinet/
=======
tbinet
tbinet_stuff/model
tbinet_stuff/model2
train_dense10_kernel10_run*

tbinet_stuff/cluster_seq
../data
./data
model2_reduced/
model2_dense395/
model2_reduced_dense10
model2_reduced_dense100
model3_removeLSTM
model3_removeLSTM_addDense
model3_nonneg/
